{% extends "home/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Current tickets in progress</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Ticket ID</th>
          <th scope="col">Title</th>
          <th scope="col">Problem</th>
          <th scope="col">Status</th>
          <th scope="col">Creation date</th>
          <th scope="col">Update Ticket</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
        <tr>
          <td>{{ ticket.pk }}</td>
          <th scope="row">{{ ticket.Title }}</th>
          <td>{{ticket.Problem}}</td>
          <td>{{ ticket.Status }}</td>
          <td>{{ticket.TicketCreationDate}}</td>
          <td><a href="{{ticket.pk}}/update/">Update</a></td>
        </tr>
        {% endfor %} 
      </tbody>
    </table>
{% endblock content %}